.root {
  display: flex;
padding-left: 20px;
  font-size: 18px;
}
.change {
  width: 300px;
}

.btn {
  color: #fff;

  width: 100%;

  outline: none;
  border: none;
  background-color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  border-radius: 3px;
  padding: 20px 30px;
}
.post {
  padding-top: 10px;
}

.delete {
  margin-left: 50px;
  cursor: pointer;
}