.tags {
  font-size: 29px;
}

.info {
  font-size: 29px;
  width: 80%;

}
.root {
  margin-left: 20px;
  overflow-y: auto;
  height: 470px;
  overflow-x: clip;
}
.img {
  position: absolute;
  right: 0;
}
.tag {
  border: 1px solid teal;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  width: 125px;
}

.red {
  position: relative;
  display: flex;
}

.AllTags {
  margin-top: 20PX;
}
